<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Café & Doçuras oferece aos seus clientes bolos e doces para eventos em geral. Produzidos artesanalmente com amor e carinho e utilizando matéria prima de primeira qualidade.  
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>cafeedocuras@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i>(19) 9 8139-8602</li>
                <li><i class="fa-brands fa-whatsapp"></i>(19) 9 8139-8602</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
